@import 'bootstrap/dist/css/bootstrap.min.css';
.body{
    background-color: F8F8FA;
}
.left-pos{
    left: -79px!important;
}
.banner-h{
    height: 35em;
}
.theme-text{
    color: #7848F4;
}
.theme-bg{
    color: #7848F4;
}
.active{
    background-color: #7848F4;
}
